* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

.App {
    background-image: url(./Assets/sunny-background.png);
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
    min-height: 100vh;
    padding: 5%;
}

.App.rain {
    background-image: url(./Assets/rain-background.png );
}

.SearchBox {
    width: 80%;
    padding: 2%;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1rem;
    transition: 3s ease;
}

.SearchBox:focus {
    background-color: rgba(242, 246, 17, 0.9);
}

.searchButton {
    width: 17%;
    margin-left: 2%;
    padding: 2%;
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1rem;
    transition: 0.2s ease;
}

.searchButton:focus {
    background-color: rgba(242, 246, 17, 0.9);
}

.SearchContainer {
    padding: 3% 0%;
}

.TheDate {
    padding: 0% 3% 3% 3%;
    display: block;
    z-index: 100;
    text-align: right;
}

.TheHeader {
    display: block;
    text-align: center;
    padding: 3%;
}

.SearchResults {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3% 0%;
}

.ForecastCard {
    text-align: center;
    padding: 6% 5% 0% 5%;
    background-color: whitesmoke;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 3%;
}

@media only screen and (max-width: 768px) {

    .SearchResults {
        grid-template-columns: auto auto;
    }

    .ForecastCard {
        padding: 6% 0%;
    }
}

@media only screen and (max-width: 480px) {

    .SearchResults {
        grid-template-columns: auto;
    }

    .ForecastCard {
        padding: 6% 0%;
    }
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}